{% extends "bootstrap/base.html" %}
{% block title %}徐诗怡的论文标注系统{% endblock %}


{% block styles %}
{{super()}}
<!--<link rel="stylesheet" href="{{ url_for('static', filename='elementui/css/index.css') }}">-->
<!--<link rel="stylesheet" href="{{ url_for('static', filename='elementui/css/main.css') }}">-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.min.css') }}">

{% endblock %}

{% block scripts %}
{{super()}}
<!--<script src="{{ url_for('static', filename='elementui/js/index.js') }}"></script>-->
<!--<script src="{{ url_for('static', filename='elementui/js/moment.js') }}"></script>-->
<!--<script src="{{ url_for('static', filename='elementui/js/vue.min.js') }}"></script>-->
<script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
<script>
toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
</script>
{% endblock scripts %}


{% block navbar %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">徐诗怡小可爱的论文标注系统</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                <li><a href="/user/login">登录</a></li>
                <li><a href="/user/register">注册</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
{% include 'util/message.html' %}

{% block mycontent %}
{% endblock mycontent %}

{% endblock content %}
